.header {
  display: flex;

  &__logo {
    transform: scale(0.65);
  }

  &__nav {
    display: flex;
    float: right;
    justify-content: space-between;
    align-items: center;
    color: $mainBlue;

    & ul {
      margin: 0;
      padding: 0;
      display: flex;
    }

    & li {
      display: block;
      margin-right: 1.5em;
      list-style: none;
    }
  }

  &__user-links {
    display: flex;
    float: right;

    & > a:first-of-type {
      margin-right: 1rem;
    }
  }

  &__toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
  }

  &__bar {
    height: 3px;
    width: 100%;
    background-color: #333;
    border-radius: 10px;
  }

  @media (max-width: 780px) {
    &__toggle-button {
      display: flex;
    }

    &__user-links {
      display: none;
    }

    &__nav {
      display: none;
    }
  }
}
